# Ansible Playbook Test

Runs a task using Ansible.

Press shift-enter to run the task.

In [ ]:
import ansible_runner

def ansiblerun():
    r = ansible_runner.run(
        private_data_dir='./',
        playbook='playbook.yml',
        inventory='hosts',
        extravars={'foo': 'bar'})

# ansiblerun()

In [9]:
import ansible_runner

def ansiblerun():
    r = ansible_runner.run(
        private_data_dir='./',
        playbook='site.yml',
        inventory='hosts',
        # tags='test_01',
        # tags='test_02',
        # tags='test_03',
        # tags='test_04',
        tags='test_05',
        extravars={'foo': 'bar'})

ansiblerun()

PLAY [Ansible Example Playbook] ************************************************

TASK [Gathering Facts] *********************************************************
ok: [localhost]

TASK [demo : CALL ME] **********************************************************
changed: [localhost] => (item={'alice': None, 'name': 'Alice Appleworth', 'telephone': '123-456-7890'})
changed: [localhost] => (item={'bob': None, 'name': 'Bob Bananarama', 'telephone': '987-654-3210'})

TASK [demo : PRINTING RETURN] **************************************************
ok: [localhost] => {
    "result": {
        "changed": true,
        "msg": "All items completed",
        "results": [
            {
                "ansible_loop_var": "item",
                "changed": true,
                "failed": false,
                "invocation": {
                    "module_args": {
                        "name": "Alice Appleworth",
                        "state": "present",
                        "telephone": "123-456-7890"
                    }
                },
                "item": {
                    "alice": null,
                    "name": "Alice Appleworth",
                    "telephone": "123-456-7890"
                },
                "msg": "If you need to call Alice Appleworth, please dial: 123-456-7890"
            },
            {
                "ansible_loop_var": "item",
                "changed": true,
                "failed": false,
                "invocation": {
                    "module_args": {
                        "name": "Bob Bananarama",
                        "state": "present",
                        "telephone": "987-654-3210"
                    }
                },
                "item": {
                    "bob": null,
                    "name": "Bob Bananarama",
                    "telephone": "987-654-3210"
                },
                "msg": "If you need to call Bob Bananarama, please dial: 987-654-3210"
            }
        ],
        "skipped": false
    }
}

PLAY RECAP *********************************************************************
localhost                  : ok=3    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0

In [2]:
from ansible_data import *

listdocs()

,doc_type,key,name,state,telephone,color,shortname
0,users,alice,Alice Appleworth,present,123-456-7890,NaN,NaN
1,users,bob,Bob Bananarama,present,987-654-3210,NaN,NaN
2,users,carlos,Carlos Carrot,absent,555-123-6789,NaN,NaN
3,fruit,pineapple,NaN,present,NaN,yellow,NaN
4,Peter,NaN,NaN,NaN,NaN,blue,NaN
5,users,NaN,Alice Appleworth,present,123-456-7890,NaN,alice
6,users,NaN,Bob Bananarama,present,987-654-3210,NaN,bob
7,users,NaN,Carlos Carrot,absent,555-123-6789,NaN,carlos
8,fruit,NaN,NaN,present,NaN,yellow,pineapple
9,users,NaN,Tim Cook,NaN,333-5566-23243,NaN,NaN